# R

## Declaracion, vectores

In [7]:
vector <- 1:10
vector
vector[1]
vector > 0 #operacion vectorizada 
vector*3 #otro ejemplo de operacion vectorizada
vector[vector > 2]

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

 [1]  3  6  9 12 15 18 21 24 27 30

[1]  3  4  5  6  7  8  9 10

## Factores

In [15]:
f <- c("M","F","M","M","F","M","F")
f <- factor(f)
f

[1] M F M M F M F
Levels: F M

In [16]:
f <- factor(c("M","F","M","M","F","M","F"),levels=c("M","F"),labels=c("Hombre","Mujer"))
f

[1] Hombre Mujer  Hombre Hombre Mujer  Hombre Mujer
Levels: Hombre Mujer

In [17]:
levels(f)

[1] "Hombre" "Mujer"

In [18]:
table(f)

f
Hombre  Mujer
     4      3

In [20]:
a <- factor(c("es","pr","es","pr","es","es","es"),levels=c("es","pr"),labels=c("estudiante","profesor"))
t <- table(a,f)
t

            f
a            Hombre Mujer
  estudiante      3     2
  profesor        1     1

In [21]:
prop.table(t,2) #tabla de proporcion

            f
a               Hombre     Mujer
  estudiante 0.7500000 0.6666667
  profesor   0.2500000 0.3333333

## Dataframes

In [22]:
df <- data.frame(
        var.1=c('A','B','C','A'),
        var.2=c('h','a','u','p'),
        var.3=c(1,2,3,4.5))
df

  var.1 var.2 var.3
1 A     h     1.0
2 B     a     2.0
3 C     u     3.0
4 A     p     4.5

In [23]:
df[3,1]

[1] C
Levels: A B C

In [24]:
df[3,]

  var.1 var.2 var.3
3 C     u     3

In [25]:
df[,3]

[1] 1.0 2.0 3.0 4.5

In [26]:
df['var.3']

  var.3
1 1.0
2 2.0
3 3.0
4 4.5

In [27]:
df[df$var.3 > 2,]

  var.1 var.2 var.3
3 C     u     3.0
4 A     p     4.5

In [30]:
df[df$var.1=="A", "var.3"]

[1] 1.0 4.5

In [31]:
dim(df)
nrow(df)
ncol(df)
names(df)

[1] 4 3

[1] 4

[1] 3

[1] "var.1" "var.2" "var.3"

## DPLYR

In [34]:
if(!require(dplyr, quietly = TRUE, warn.conflicts = FALSE) ){
    install.packages('dplyr',
        dependencies = TRUE, 
        repos = "http://cran.us.r-project.org")
}
if(!require(nycflights13, quietly = TRUE, warn.conflicts = FALSE) ){
    install.packages('nycflights13', 
        dependencies = TRUE, 
        repos = "http://cran.us.r-project.org")
}

library(dplyr)
library(nycflights13)
#head(flights)
#class(flights)
#str(flights)

[1] "tbl_df"     "tbl"        "data.frame"

tibble [336,776 × 19] (S3: tbl_df/tbl/data.frame)
 $ year          : int [1:336776] 2013 2013 2013 2013 2013 2013 2013 2013 2013 2013 ...
 $ month         : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ day           : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ dep_time      : int [1:336776] 517 533 542 544 554 554 555 557 557 558 ...
 $ sched_dep_time: int [1:336776] 515 529 540 545 600 558 600 600 600 600 ...
 $ dep_delay     : num [1:336776] 2 4 2 -1 -6 -4 -5 -3 -3 -2 ...
 $ arr_time      : int [1:336776] 830 850 923 1004 812 740 913 709 838 753 ...
 $ sched_arr_time: int [1:336776] 819 830 850 1022 837 728 854 723 846 745 ...
 $ arr_delay     : num [1:336776] 11 20 33 -18 -25 12 19 -14 -8 8 ...
 $ carrier       : chr [1:336776] "UA" "UA" "AA" "B6" ...
 $ flight        : int [1:336776] 1545 1714 1141 725 461 1696 507 5708 79 301 ...
 $ tailnum       : chr [1:336776] "N14228" "N24211" "N619AA" "N804JB" ...
 $ origin        : chr [1:336776] "EWR" "LGA" "JFK" "JFK" ...
 $ dest          : chr [1:336776] "IAH" "IAH" "MIA" "BQN" ...
 $ air_time      : num [1:336776] 227 227 160 183 116 150 158 53 140 138 ...
 $ distance      : num [1:336776] 1400 1416 1089 1576 762 ...
 $ hour          : num [1:336776] 5 5 5 5 6 5 6 6 6 6 ...
 $ minute        : num [1:336776] 15 29 40 45 0 58 0 0 0 0 ...
 $ time_hour     : POSIXct[1:336776], format: "2013-01-01 05:00:00" "2013-01-01 05:00:00" ...

### Verbos

- filter()
- slice()
- select()
- rename()
- distinct()
- mutate()
- transmute()
- summarise()
- sample_n()
- sample_frac()

In [53]:
#filter(flights, month == 10, day == 31)
#slice(flights, 1:10)
#arrange(flights, year, desc(month), day)
#select(flights, year, month, day, carrier,origin,dest)
#select(flights,year:day)
#rename(flights, mes=month)
#distinct(select(flights,origin,dest))
#flights %>% mutate(flights,speed=distance/air_time*60,speed2=speed*2) otra forma de escribirlo
#mutate(flights,speed=distance/air_time*60,speed2=speed*2)
#summarise(flights,delay=mean(dep_delay,na.rm=TRUE))

### Agrupaciones

In [54]:
flights%>%group_by(month,day)%>%summarise(delay=mean(dep_delay,na.rm=TRUE))%>%arrange(desc(delay))

`summarise()` regrouping output by 'month' (override with `.groups` argument)

    month day delay
1    3     8  83.53692
2    7     1  56.23383
3    9     2  53.02955
4    7    10  52.86070
5   12     5  52.32799
6    5    23  51.14472
7    9    12  49.95875
8    6    28  48.82778
9    6    24  47.15742
10   7    22  46.66705
11   4    19  46.12783
12   6    13  45.79083
13   7    23  44.74169
14   6    30  44.18818
15   8     8  43.34995
16   5     8  43.21778
17   6    25  43.06303
18   6    27  40.89123
19  12    17  40.70560
20   8    28  40.52689
21  10     7  39.14671
22   2    11  39.07360
23   2    27  37.76327
24   7    28  37.71016
25   7     8  37.29665
26   7     7  36.61745
27   6    18  35.95077
28   4    18  34.91536
29   4    12  34.83843
30  12     9  34.80022
⋮   ⋮     ⋮   ⋮
336 11    16   1.69620253
337 10    20   1.61092896
338  1    12   1.59649123
339  9    14   1.38888889
340 10    23   0.97940268
341 10    21   0.95445344
342  9     9   0.79474216
343  9    28   0.70250368
344  9     4   0.60233298
345 10    16   0.60206186
346 11    15   0.58697864
347 10    30   0.56553148
348  9    25   0.47412008
349 11     6   0.46376812
350 11    19   0.43904959
351 11     2   0.24486804
352  5    26   0.24142661
353 11    29   0.14523449
354  1    15   0.12372304
355  9    17  -0.09707724
356 10     1  -0.09895833
357 10    19  -0.10703812
358 11     5  -0.18314256
359  9     7  -0.25036390
360 10    29  -0.34932221
361  9     5  -0.38779731
362  9     6  -0.39792746
363 11     9  -0.62885154
364 10     2  -0.91991786
365  9    24  -1.32983193

## Visualización en R